<div class="styleguide">
    <p>
        <h1>STYLES:</h1>
        <hr>

        <h1>H1: Open Sans Light 36px</h1>
        <h2>H2: Open Sans Light 24px</h2>
        <h3>H3: Open Sans Light 18px</h3>
        <h4>H4: Open Sans Regular 16px</h4>
        <h5>H5: Open Sans Semibold 14px</h5>
        <h6>H6: Open Sans Bold 12px Uppercase</h6>
        
         <p class="p-lrg">
            Paragraph Large: Opens Sans Regular 16px FS/ 21px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>
        
        <p>
            Paragraph Normal: Opens Sans Regular 14px FS/ 21px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>
        
        <p class=".p-sm">
            Paragraph Small: Opens Sans Regular 13px FS/ 18px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>

        <ul>
            <li> li:Opens Sans W Regular 16px FS/ 24px LH/ .2 LS/ no list-item</li>
        </ul>

        <a>a: Opens Sans W Regular 16px FS/ 24px LH/ .2 LS/ Color: rgba(25, 131, 179, 100)</a>
    </p>

    <div class="card card-example">
        <p>
            Bacon ipsum dolor amet kevin pancetta tri-tip corned beef capicola rump tenderloin. Shoulder porchetta corned beef swine, alcatra landjaeger brisket meatloaf tongue bacon meatball picanha pork ball tip prosciutto. Chicken pancetta burgdoggen, pork chop salami corned beef turducken shank cow picanha. Pastrami kielbasa shank meatball rump drumstick sausage ham hock shankle tri-tip spare ribs brisket venison ribeye. Turkey cow brisket chicken tail chuck ribeye andouille shankle. Venison short ribs short loin, beef cupim corned beef pastrami brisket ham hock.
        </p>
        <p>
            Chuck shank andouille ball tip drumstick pancetta, leberkas porchetta ham hock brisket turkey. Rump pig sirloin beef ribs porchetta bresaola, meatloaf short loin kevin turkey swine ground round burgdoggen. Picanha prosciutto corned beef rump sausage pork belly. Short loin filet mignon boudin ribeye, meatball pork chop tail pork loin beef ribs porchetta. Drumstick prosciutto kevin chuck landjaeger.
        </p>
    </div>
    
    <section style="margin:40px 0">
      <button class="button-sm">Button</button>
      <button class="button-med">Button</button>
      <button class="button-lrg">Button</button>
      <button class="inactive">Button</button>
    </section>
    
    <div class="growler green"></div>
    
</div>