<div class="styleguide" style="padding:20px">
    <p>
        <h1>ATOMS:</h1>
        <hr>

        <h1>H1: Open Sans Light 36px</h1>
        <h2>H2: Open Sans Light 36px</h2>
        <h2 class="h2b">H2B: Open Sans Light 24px</h2>
        <h3>H3: Open Sans Light 18px</h3>
        <h4>H4: Open Sans Regular 16px</h4>
        <h5>H5: Open Sans Semibold 14px</h5>
        <h6>H6: Open Sans Bold 12px Uppercase</h6>

        <p class="text text-xs">
            Paragraph Small: Opens Sans Regular 11px FS/ 16px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>

        <p class="text text-sm">
            Paragraph Small: Opens Sans Regular 13px FS/ 18px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>

        <p class="text text-med">
            Paragraph Normal: Opens Sans Regular 14px FS/ 21px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>
        
         <p class="text text-lrg">
            Paragraph Large: Opens Sans Regular 16px FS/ 24px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>

        <p class=" text text-xlrg">
            Paragraph Large: Opens Sans Regular 16px FS/ 24px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>
        

        <p class="text-italic">
            Paragraph Normal: Opens Sans Regular 14px FS/ 21px LH/ .2 LS / bottom-padding:8px;
            Eg., Bacon ipsum dolor amet fugiat tri-tip magna meatball est aute. Culpa sausage magna tenderloin ham, do meatloaf veniam meatball frankfurter kielbasa.
        </p>

        <p class="text text-help">
            Help text - Paragraph Small: Opens Sans Regular 13px FS/ 18px LH/ .2 LS / #828282
        </p>

        <p class="text-help text-xs">
            Help text - Paragraph X Small: Opens Sans Regular 11px FS/ 16px LH/ .2 LS / #828282
        </p>

        <ul class="ul-ol-sm">
            <li class="text text-sm"> li:Opens Sans W Regular 13px FS/ 18px LH/ .2 LS/ no list-item</li>
        </ul>

        <ul class="ul-ol ul-ol-med">
            <li class="text text-med"> li:Opens Sans W Regular 14px FS/ 21px LH/ .2 LS/ no list-item</li>
        </ul>

        <ul class="ul-ol-lrg">
            <li class="text text-lrg"> li:Opens Sans W Regular 16px FS/ 24px LH/ .2 LS/ no list-item</li>
        </ul>

        <ul class="ul-ol-xlrg">
            <li class="text text-xlrg"> li:Opens Sans W Regular 18px FS/ 27px LH/ .2 LS/ no list-item</li>
        </ul>

        <ul class="bullet-list">
            <li class="text textg-med"> li:Opens Sans W Regular 14px FS/ 21px LH/ .2 LS/ no list-item</li>
        </ul>

        <ul class="bullet-list bullet-list-indent">
            <li> li:Opens Sans W Regular 14px FS/ 21px LH/ .2 LS/ no list-item</li>
        </ul>

        <ol class="ul-ol-sm">
            <li class="text text-sm"> li:Opens Sans W Regular 13px FS/ 18px LH/ .2 LS/ no list-item</li>
        </ol>

        <ol class="ul-ol-med">
            <li class="text text-med"> li:Opens Sans W Regular 14px FS/ 21px LH/ .2 LS/ no list-item</li>
        </ol>

        <ol class="ul-ol-lrg">
            <li class="text text-lrg"> li:Opens Sans W Regular 16px FS/ 24px LH/ .2 LS/ no list-item</li>
        </ol>

        <ol class="ul-ol-xlrg">
            <li class="text text-xlrg"> li:Opens Sans W Regular 18px FS/ 27px LH/ .2 LS/ no list-item</li>
        </ol>

        <a>a: Opens Sans W Regular 16px FS/ 24px LH/ .2 LS/ Color: rgba(25, 131, 179, 100)</a>
    </p>

    <hr>

    <div>
        <br/>
        <h4>Stylized List Signifiers</h5>
        <br/>
        <ul>
            <li>
                <div class="blue-dot"></div>
            </li>
            <li>
                <div class="blue-dot"></div>
            </li>
    </div>

    <hr>

    <div class="card card-example">
        <h6>I'm Mr.Meseeks! Look at me!</h6>
        <p>
            Bacon ipsum dolor amet kevin pancetta tri-tip corned beef capicola rump tenderloin. Shoulder porchetta corned beef swine, alcatra landjaeger brisket meatloaf tongue bacon meatball picanha pork ball tip prosciutto. Chicken pancetta burgdoggen, pork chop salami corned beef turducken shank cow picanha. Pastrami kielbasa shank meatball rump drumstick sausage ham hock shankle tri-tip spare ribs brisket venison ribeye. Turkey cow brisket chicken tail chuck ribeye andouille shankle. Venison short ribs short loin, beef cupim corned beef pastrami brisket ham hock.
        </p>
        <p>
            Chuck shank andouille ball tip drumstick pancetta, leberkas porchetta ham hock brisket turkey. Rump pig sirloin beef ribs porchetta bresaola, meatloaf short loin kevin turkey swine ground round burgdoggen. Picanha prosciutto corned beef rump sausage pork belly. Short loin filet mignon boudin ribeye, meatball pork chop tail pork loin beef ribs porchetta. Drumstick prosciutto kevin chuck landjaeger.
        </p>
    </div>
    
    <section style="margin:40px 0">
      <button class="button-sm green">Button Small</button>
      <button class="button-med blue-steel">Button Medium</button>
      <button class="button-lrg orange">Button Large</button>
      <button class="button-lrg blue-midnight">Button Large</button>
      <button class="button-lrg grey-light">Button Large</button>
      <button class="inactive button-lrg">Button Inactive</button>
    </section>
    
    <div class="growler green">
        <p> Hey Hey Hey! Imma growler! BLAHRRRRRG!<p>
    </div>

    <div class="Form-example" style="margin:40px 0">
        <div class="form-block"> 
            <h5>Text Input Small</h5>
            <label>Label</label>
            <input class="input-sm" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Medium</h5>
            <label>Label</label>
            <input class="input-med" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Large</h5>
            <label>Label</label>
            <input class="input-lrg" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Large</h5>
            <label class="label-xl">Label</label>
            <input class="input-lrg" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Perforated</h5>
            <label>Label</label>
            <input class="input-lrg edit" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Error</h5>
            <label class="error">Label</label>
            <input class="input error" type="text" name="text">
        </div>

        <div class="form-block"> 
            <h5>Text Input Warning</h5>
            <label class="warning">Label</label>
            <input class="input warning" type="text" name="text">
        </div>

         <div>
            <span class="pill">pill</span>
            <span class="pill sm">pill</span>
        </div>

        <div class="form-block">
            <h5>Select Input Base</h5>
            <label>Choo Choo Choose me</label>
            <select>
                <optgroup>
                    <option>Kill Em All</option>
                    <option>Ride the Lightning</option>
                    <option>Master of Puppets</option>
                    <option>And Justice for All</option>
                </optgroup>
            </select>
        </div>

        <div> 
            <h5>Text Area</h5> 
            <textarea class="autoexpand" placeholder="Textareas should have min-heights and auto expand"></textarea>
            <!--Alex Note-->
            <span class="style-note">textarea should autoexpand</span>
        </div>

        <div> 
            <h5>Text Area Edit</h5>
            <textarea></textarea>
        </div>

        <div>
            <div class="form-block check-box-list-style">
                <label>Black Sabbath</label> 
                <input type="checkbox" class="" name="Checkbox">
            </div>
        </div>

        <div>
            <div class="form-block check-box-list-style checked">
                <label>Ozzy Osbourne</label> 
                <input type="checkbox" class="" name="Checkbox">
            </div>
        </div>

        <div>
            <div class="form-block check-box-button-style">
                <label>King Diamond</label> 
                <input type="checkbox" class="" name="Checkbox">
            </div>
        </div>

         <div>
            <div class="form-block check-box-button-style checked">
                <label>Skeletonwitch</label>
                <input type="checkbox" class="" name="Checkbox">
            </div>
        </div>

    </div>

    <figure class="user-img lrg"></figure> <h5>108px</h5> <br/>
    <figure class="user-img med"></figure> <h5> 80px</h5> <br/>
    <figure class="user-img sm"></figure> <h5>64px</h5> <br/>
    <figure class="user-img xs"></figure> <h5>44px</h5> <br/>

    <div class="tag user-tag" data-role="advisor">Advisor</div>
    <div class="tag user-tag" data-role="investor">Investor</div>
    <div class="tag user-tag" data-role="lender">Lender</div>
    <div class="tag user-tag" data-role="buyer">Buyer</div>

    <div class="tag premium-tag" data-role="premium">Premium</div>

    <figure class="logo xs">  <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure> <h5> 44px </h5> <br/>
    <figure class="logo sm">  <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure> <h5> 64px </h5> <br/>
    <figure class="logo med"> <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure>  <h5> 88px </h5> <br/>
    <figure class="logo lrg"> <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure>  <h5> 108px </h5> <br/>
    <figure class="logo x-lrg"> <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure>  <h5> 132px </h5> <br/>
    <figure class="logo xx-lrg"> <a><img src="http://www.axial.net/wp-content/themes/axial2/assets/images/_logos/axial-logo-grey.png?4c057f" /></a> </figure>  <h5> 152px </h5> <br/>

    <div id="border-example">
        <hr>
        <div class="border" data-btm></div>
        <div class="border" data-top></div>
        <div class="border" data-right></div>
        <div class="border" data-left></div>
    </div>

    
    <span class="counter">10</span>
    <nav>
        <li> Megadeth <span class="nav-on"></span></li>
        <li> Metallica</li>
        <li> Slayer</li>
        <li> Iron Maiden</li>
        <li> Pantera</li>
    </nav>

    <div class="progress-wrapper left">
        <span class="progress-bar-step active">Motorhead</span>
        <span class="progress-bar-step">Anthrax</span>
        <span class="progress-bar-step">Sepultura</span>
        <span class="progress-bar-step">Cannibal Corpse</span>
    </div>



    <div id="modal-header-eg" class="header dark modal-header left">
        <h2 class="h2b">Modal Header</h2>
    </div>
    
    <br/>
    <br/>


    <div>
        <div class="help-modal col-xs-4">
            <div class="help-modal-col-left help-modal-menu sidebar sidebar-nav blue left">
                <h2 class="h2b">H2B: Open Sans Light 24px</h2>
                <ul class="help-steps-list sidebar-list ul-ol-lrg">  
                    <li class="help-steps-list-item text text-lrg on"> <a>Rick Astley </a> </li>
                    <li class="help-steps-list-item text text-lrg"> <a>More rick Astley </a> </li>
                </ul>
            </div>

            <div class="help-content-container left">
                <h2 class="h2b">Main container</h2>
                <p> 
                    We're no strangers to love. 
                    You know the rules and so do I. 
                    A full commitment's what I'm thinking of
                    You wouldn't get this from any other guy.
                </p>

                <p>
                    I just want to tell you how I'm feeling
                    Gotta make you understand
                </p>

                <p>
                    Never gonna give you up, never gonna let you down
                    Never gonna run around and desert you
                    Never gonna make you cry, never gonna say goodbye
                    Never gonna tell a lie and hurt you
                </p>

                <p>
                    We've known each other for so long
                    Your heart's been aching but you're too shy to say it
                    Inside we both know what's been going on
                    We know the game and we're gonna play it
                    And if you ask me how I'm feeling
                    Don't tell me you're too blind to see
                </p>

                <div class="modal-content-nav">
                    <section class="previous left"> 
                        <p>Previous</p>
                        <a class="text text-lrg">Section Title</a>
                    </section>
                    <section class="next right"> 
                        <p>Next</p>
                        <a class="text text-lrg">Section Title</a>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div id="co-profile-sidebar" class="sidebar card right">

        <div class="sidebar-inner">

            <div class="announcement-container">

                <h6>
                    Recent Announcements
                </h6>

                <div class="announcement">

                    <p class="date text-small">
                        June 22    
                    </p>
                    
                    <p class="announcement-title text-sm text-bold">
                        Jimbo Jones made an annoucement:
                    </p>
                    
                    <p class="text-sm">
                        Jimbo is proud to announce Nelson Muntz as COO.
                    </p>
                </div>

                 <div class="announcement">

                    <p class="date text-small">
                        June 22    
                    </p>

                    <p class="announcement-title text-sm text-bold">
                        Jimbo Jones made an annoucement:
                    </p>
                    
                    <p class="text-sm">
                        Jimbo is proud to announce Nelson Muntz as COO.
                    </p>
                </div>

                <a> <span class="icon icon-arrow"></span>Go to newsfeed</a>
                
            </div>

            <div class="related-companies">
                
            </div>

        </div>
        
    </div>

    
</div>



