// FONTS
$font-family: "Open Sans";
$font-size: 1rem;
$base-ratio: 0.125;
$default-font-size: $font-size - $base-ratio;
$default-letter-spacing: 0.2px;
$default-line-height: 1.5em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 500;
$font-weight-bold: 800;

$h1-font-size: ($font-size + $base-ratio) * 2;
$h2-font-size: $font-size * (2 - 4 * $base-ratio);
$h3-font-size: $font-size + $base-ratio;
$h4-font-size: $font-size;
$h5-font-size: $font-size - $base-ratio;
$h6-font-size: $font-size - $base-ratio * 2;

$h6-letter-spacing: 0.3px;

$small-button-font-size: $font-size - $base-ratio;
$medium-button-font-size: $font-size;
$large-button-font-size: $font-size;

$p-font-size: $font-size - $base-ratio;

$p-padding-bottom: 8px;