button{
    font-family: $font-family;
    cursor: pointer;
    transition: $hover-transition-default;
    border-radius: $rounded-border-radius;
    opacity: $default-opacity;
    line-height: 1;
    color: $base-white;
    border: none;
    outline:none;

    &.button-sm {
        font-size: $button-text-small;
        padding: .538em $font-size;
    }

    &.button-med {
        font-size: $button-text-medium;
        padding: $button-text-medium * 0.75 $button-text-medium * 1.5;
    }

    &.button-lrg {
        font-size: $button-text-large;
        padding: $button-text-large $button-text-large * 1.75;
    }

    // States

    &.inactive {
        opacity: $disabled-opacity;
    }

    //Colors & Hovers

    &.green {
        background-color: $base-green;

        &:hover {
            background-color: darken($base-green, 10%);
        }
    }

    &.blue-steel {
        background-color: $base-blue;

        &:hover {
            background-color: darken($base-blue, 10%);
        }
    }

    &.blue-midnight {
        background-color: $blue-midnight;

        &:hover {
            background-color: darken($blue-midnight, 10%);
        }
    }

    &.orange {
        background-color: $base-orange;

        &:hover {
            background-color: darken($base-orange, 10%);
        }
    }

    &.grey-light {
        background-color: $grey-light;
        color:$text-default-color;

        &:hover {
            background-color: darken($grey-light, 10%);
        }
    }



}
