.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

//Icon Sizes
.material-icons {

    &.md-16 {
        font-size: 1rem; //xs
    }

    &.md-20 {
        font-size: 1.25rem; //sm
    }

    &.md-24 {
        font-size: 1.5rem; //med
    }

    &.md-36 {
        font-size: 2.25rem; //lrg
    }

    &.md-48 {
        font-size: 3rem; //x-lrg
    }

}


